.hero {

	//margin-top: 	1.2em;
	margin-bottom: 2em;	
	background-repeat: no-repeat;
	background-position:center;
  	background-size: cover;
	min-height: 500px;
		@include breakpoint($mobile) {
			min-height: 200px;
	}
}
 
.hero-body-width {
	margin-top: 1.2em;
	margin-bottom: -2em;
	margin-left:auto;
	margin-right:auto;
	max-width:1100px;
	background-repeat: no-repeat;
	background-position:center;
  	background-size: cover;
	min-height: 500px;
		@include breakpoint($mobile) {
			min-height: 200px;
	}
}


article {
	width:90%;
	margin: 37px auto 73px auto;
	@include container;
		@include breakpoint($mobile) {
      		padding-left: 1em;
      		padding-right: 1em;
      		margin: 23px auto 73px auto;
  	}
  	header{
  		height:auto;
  	}
}

article p {
	font-size: .875em;
	font-weight:200;
}


.block-3 {
	width: 33.333%;
    float: left;
    padding-right: 2.2082%;
    margin-bottom: 2em;
    @include breakpoint($mobile){
    	padding-right: 0;
    }
    .img-contain{
    	position:relative;
    }
    img{
		width:100%;
		height:228px;
  	}
  	a {
		display: block;
	    width: 100%;
	    height: 100%;
	    @include breakpoint($mobile){
	    		width: 100%;
	    	}
	}
  	.overlay-content {
	    background: #000000;
	    height: 100%;
	    width: 100%;
	    opacity: 0;
	    top: 0;
	    left: 0;
	    position: absolute;
	    padding: 0;
	    transition: opacity .5s;
	    display:none;
	    p {
	      	color: #FFFFFF;
	      	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	        font-size: 1.2em;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    text-align:center;
		    text-transform:uppercase;
	    }
  	}
	&:hover {
		img{
			opacity:.3;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	    .overlay-content {
	    	opacity: 1;
	      	transition: opacity .5s;
	      	display:block;
	   	}
	   	@include breakpoint($mobile) {
	   		img{
	   			opacity:1;
	   			filter:none;
	   			-webkit-filter:none;
	   		}
	   		.overlay-content{
	   			display:none;
	   		}
	   	}
	}
	@include breakpoint($mobile) {
  		@include span(12);
  		margin-bottom: 1em;
  		img{
  			width:100%;
  			height:auto;
  		}
  	}
}

.block-3:nth-child(4n+1){
	clear:both;
}.block-3.press{
	clear: none;
}
.block-4 {
	width: 22%;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    position: relative;
    //display: block;
    margin-bottom: 2.5em;
    height: 208px;
     @include breakpoint($mobile){
     	left: 0 !important;
     	padding: 0 1em;
     }

	a {
		display: block;
	    width: 100%;
	    height: 100%;
	    background:#f7f7f7;
	    text-align:center;
            
	}
	img {
		width: auto;
		height: 100%;
		@include breakpoint($mobile){
    		height:auto;
    	}
	}
	.overlay-content {
	    background: $dark-gray;
	    height: 100%;
	    width: 100%;
	    opacity: 0;
	    top: 0;
	    left: 0;
	    position: absolute;
	    padding: 0;
	    transition: opacity .5s;
	    display:none;
	    p {
	      	color: #FFFFFF;
	      	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	        font-size: 1.0em;
                font-weight: 100;
		    position: absolute;
		    bottom: 10%;
		    left: 10%;
		    transform: translate(1%, 10%);
		    text-align:left;
		    text-transform:capitalize;
	    }
  	}
	&:hover {
		img{
			opacity:.3;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	    .overlay-content {
	    	opacity: 0.8;
	      	transition: opacity .5s;
	      	display:block;
	   	}
	   	@include breakpoint($mobile) {
	   		img{
	   			opacity:1;
	   			filter:none;
	   			-webkit-filter:none;
	   		}
	   		.overlay-content{
	   			display:none;
	   		}
	   	}
	}
	 div.img-thumb{
	    	
	    }
	//@include span(3 of 12);
  	
}

@media screen and (max-width:1025px){
	  	.block-4{
		  	width: 30%;
		    height: 186px;
		    img{
		    	width:100%;
		    }
	  	}
	  	
  	}
@media screen and (max-width:769px){
	.block-4{
	@include span(12);
      margin-bottom: 1em;
	}
	
}
.block-4:nth-child(4n+4) {  
	//@include last;
}


.last {
	@include last;
}

.page-content-area {
    padding-right: 3%;
	@include span(9 of 12);
		@include breakpoint($mobile) {
      		@include span(12);
  	}
        .sub-nav {
            margin-left: 0px;
        }
     p:nth-child(3){
     	clear:both;
     }
}

.page-content-area-full {
	@include span(12 of 12 last);
}

.right-sidebar {
	margin-top:1.5em;
		@include span(3 of 12 last);
		@include breakpoint($mobile) {
      		@include span(12);
  	}
  	.right-sidebar-content{
  		margin-top: 50px;
  	}
}

.right-side-images {
	text-align:right;
	display:inline-block;
    img{
    	height:100%;
    	width:100%;
    } 
    @include breakpoint($mobile){
    	width:100%;
    	height:100%;
    }
}

.column-one {
	@include span(6 of 12);
		@include breakpoint($mobile) {
      		@include span(12);
  	}
}

.column-two {
	@include span(5 of 12 last);
		@include breakpoint($mobile) {
      		@include span(12);
  	}
}


// each img will span 3 of 12 columns,
// with 4 images in each row:
.gallery-view img {
  @include gallery(2 of 12);
}

.galleryViewB{
	margin-bottom: 0;
    padding-left: 1.4%;
}
.wp-caption-text {
	text-align: center;
}
figure{
    &.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    &.alignleft { 
        text-align: left;
    }
    .alignright {
    text-align: right;
    }
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    
.page-template.page-template-page-gallery-view.page-template-page-gallery-view-php div#lightbox div#imageDataContainer.clearfix div#imageData div#imageDetails div#controls span#downloadLink a { display: none;}    