/*** Global Page Styles ***/

.container{
	min-height:91vh;
	margin:auto;
	overflow:hidden;
}
h2{
	font-size: 1.2em;
    font-weight: 300;
}
h5 a:visited{
	//color: $link-color;
	color:#333;
}
.container>header{
	width:90%;
	margin:auto;
}
article{
	p{
		line-height:1.7;
	}
}
a:visited{
	//color: $link-color;
	color:#333;
}
a:hover{
	    text-decoration:none;
	    }
ul.dropdown{
	width: 165px;
	z-index: 1;
    position: absolute;
    background: #fff;
    display:inline-block;
    margin-top:-9px;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #888;
    li{
    	padding: 10px 40px;
    	font-size: .875em;
    	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    	display:none;
    	a{
    		color:#333;
    		text-decoration:none;
    	}
    	&:hover{
    		background:#ddd;
    		cursor: pointer;
    	}
    }
    p{
    	padding: 10px 40px;
    	font-size: .875em;
    	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    	margin-bottom:0;
    	cursor: pointer;
    } 
}
ul.dropping{
	border: 1px solid #ddd;
    box-shadow: 0 0 1px #888;
}
p.label{
	display: inline-block;
    margin-right: 49px;
    font-weight: 500;
}

.pagination{
	max-width: 1100px;
    margin: auto;
    text-align: center;
    overflow:hidden;
    font-size:.875em;
    width:90%;
    @include breakpoint($mobile){
    	padding:0 1em;
    }
    div.nav-previous{
    	float:left;
    }
    div.nav-next{
    	float:right;
    }

}

li.thumbs{
	position:relative;
	width: 263px;
		height: 160px;
	a{
		height: 100%;
		width: 100%;
		.overlay-content {
		    background: #000000;
		    height: 100%;
		    width: 100%;
		    opacity: 0;
		    top: 0;
		    left: 0;
		    position: absolute;
		    padding: 0;
		    transition: opacity .5s;
		    display:none;
		    p {
		      	color: #FFFFFF;
		      	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
		        font-size: 1.2em;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    text-align:center;
			    text-transform:uppercase;
			    line-height: 1.2;
		    }
	  	}
	  	div.img-thumb {
			width: 100%;
			height: 100%;
			background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center center;
			@include breakpoint($mobile){
	    		width: 90%;
	    	}
		}
		&:hover {
			div.img-thumb{
				opacity:.3;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		    .overlay-content {
		    	opacity: 1;
		      	transition: opacity .5s;
		      	display:block;
		   	}
		   	@include breakpoint($mobile) {
		   		div.img-thumb{
		   			opacity:1;
		   			filter:none;
		   			-webkit-filter:none;
		   		}
		   		.overlay{
		   			display:none;
		   		}
		   	}
		}
	}

	@include breakpoint($mobile){
		width:100%;
	}
}
	li.thumbs:not(:first-child){
		margin-top:1.4em;
	}
div.img-thumb {
	width: 100%;
	height: 100%;
}
.img-contain{
	height:228px;
}

div.button-container{
	margin-bottom: 14px;
}
.visit-button{
	background: #333;
    padding: 7px 37px;
    font-size: .875em;
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    &:hover{
    	text-decoration:none;
    	color:#fff;
    }
    &:visited{
    	text-decoration:none;
    	color:#fff;
    }
}
ul.bullets{
	list-style-type: initial;
    list-style-position: inside;
    margin-left: 2px;
	padding-right: 31px;
    font-weight: 300;
 	li{
 		margin-bottom:12px;
 	}
} 
ul.col3{
	overflow:hidden;
	padding-right:31px;
	li{
	   	width:33.333%;
	   	float:left;
	   	font-size: 1em;
    	font-weight: 200;
    	margin-bottom: 5px;

    	ul{
    		li{
    			width:100%;
    			font-style: italic;
    			font-size: .8em;
    		}
    	}
    	@include breakpoint($mobile){
			float:none;
			width:100%;
		}
    }
    @include breakpoint($mobile){
	 	li{
	 		width:50%;
	 	}
 	}
}
ul.col2{
	li{
		width:50%;
	}
}
div.col3{
	width:33.333%;
	float:left;
	overflow:hidden;
	margin-bottom:25px;
	padding-right:20px;
	@include breakpoint($mobile){
		width:50%;
	}
	strong{
		font-size: .875em
	}
	a{
		font-size: .875em;
	}
	ul{
		li{
			margin-bottom: 5px;
			font-size: .875em;
    		font-weight: 300;
		}
	}
	p{
		margin-bottom:3px;
		line-height: 1.3;
	}
	@include breakpoint($mobile){
		float:none;
		width:100%;
		margin-bottom: 0;
	}
}
.col2{
	width: 46%;
    float: left;
    margin: 1.5% 2%;
	iframe{
	    max-height: 360px;
	    width: 560px;
	    max-width: 100%;
	}
	@include breakpoint($mobile){
		float:none;
		width:100%;
	}
}
p.col2{
	margin:0 4% 1.5% 0;
	&:nth-child(even){
		margin-left:0;
	}
}
.clear{
	clear:both;
}
.col1{
	width:100%;
}
span.wpcf7-list-item{
	margin-left:0 !important;
}
hr{
	border: 0;
    height: 1px;
    background: #333;
    width: 100%;
    margin: 38px 0;
}
input[type="submit"]{
	margin-top: 35px;
	background-color:#333 !important;
}
ul.nomargin li{
	margin-bottom:0;
	font-size:.875em;
}
p.nomargin{
	margin-bottom:0;
}
.pad-top{
	padding:16px 0;  
}
.pad-bottom{
	padding-bottom:16px;
} 
 