/*
.home {
	@include background-image(url("images/judd-foundation-homepage-image.jpg"));
  	background-size: cover;
}

.home-nav-bar {
	margin-top: 550px;
	background-color: rgba(155,145,135, .75)
}

.main-nav {
	@include container;
}

.main-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-nav li {
	display: inline-block;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-right: 3em;
	font-weight: bold;
	font-size: 1.2em;
}

.primary-nav {
	@include push (2);
	@include span(10 of 12 last);
}
*/
div.overlay{
	background: rgba(0,0,0,.85);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    display: none;
}
.top-bar{
	background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding: 11px 0;
}